#clockcontainer{
    position: relative;
    margin: auto;
   
    background-color: aqua;
    height: 40vw;
    width: 40vw;
    background: url(AnalogClock.jpeg) no-repeat;
    background-size: 100%;

}
#hours, #minutes, #seconds{
    position: absolute;
    border-radius: 10px;
    background-color: whitesmoke;

}
#hours{
    left: 50%;
    width: 2%;
    top: 31%;
    height: 16%;
    opacity: 0.8;
    transform-origin: bottom;
}
#minutes {
    left: 50%;
    width: 1%;
    top: 19%;
    height: 28%;
    opacity: 0.8;
    transform-origin: bottom;

}
#seconds{
    left: 50%;
    width: 0.5%;
    top: 12%;
    height: 35%;
    opacity: 0.8;
    transform-origin: bottom;

}